<div class="my-4">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary me-4">
            <a class="nav-link" aria-current="page" href="/create">Thêm khóa học</a>
        </button>

        <button type="button" class="btn btn-danger" disabled>
            <a class="nav-link" aria-current="page" href="/create">Xóa khóa học</a>
        </button>
    </div>

    <div class="table-responsive mt-4">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên khóa học</th>
                    <th scope="col">Thời gian tạo</th>
                    <th scope="col">Thời gian update</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>{{this.updatedAt}}</td>
                    <td class="d-flex justify-content-between">
                        <a href="/{{this.slug}}">Chi tiết</a>
                        <a href="/edit/{{this._id}}">Sửa</a>
                        <a href="/delete/{{this._id}}">Xóa</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
